.timeline {
    display: flex;
    padding: 8% 7% 4%;
    align-items: center;
    justify-content: space-between;
    position: relative;
  
    .next{
        margin-left: 40px;
    }
    .prev{
      margin-right: 40px;
    }

  .timeline-slider{
    display: flex;
    padding: 3% 7%;
    align-items: center;
    justify-content: flex-start;
    // background-color: #E3F4F4;
    border-radius: 20px;
    width: 80%;
    overflow: hidden;
    
   
  }
  .item{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
  }
    .node {
      width: 12px !important;
      height: 12px !important;
      border-radius: 50%;
      border:0.1px solid black;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0px !important;
      background-color: black;
      transition: all 0.5s ease-in-out;
      z-index: 1;
  
      &:hover {
        transform: scale(10);
        // background-color: white;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
      &:hover i {
        transform: scale(0.2);
        // transform: translateY(-6px);        
        opacity: 0;
        font-size: 1.5rem;
      }
      &:hover .date {
        // transform: translateY(-6px);        
        opacity: 0;
      }
      &:hover *.description {
        // transform: scale(1);        
        opacity: 1;
      }
      .date{
        font-size: 14px;
        position: absolute;
        bottom: 0;
        transform: translate(-35%,120%);
        width: 90px;
        font-weight: 600;
        left: 50%;
        transition: 500ms;
      }
  
      i {
        font-size: 1.5rem;
        opacity: 0;
        transition: all 0.5s;
      }
    }
    .line {
      width: 80px !important;
      height: 3px;
      background-color: black;
    }
  }
  .node:hover .description {
    // transform: scale(1);        
    opacity: 1;
  }
.description{
  padding: 1% 7% 2%;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  background-color: cadetblue;
  margin-bottom: 16px;
  border-radius: 12px;
  // transform: scale(0);
  transition: 0.3s;
  opacity: 0;
  h1{
    margin: 8px;
    font-size: 28px;
  }

}