

.container {
  width: 70%;
  height: 80vh;
  margin: auto;
  padding: 50px;
  text-align: center;
}

.content{
  margin-top: 18vh;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  height: 100vh;
  background-image: url("./images/background.jpg");
  background-size: cover;
  backdrop-filter: blur(15px);
}

h1,h2{
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #274a79;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin:auto;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
