<footer id="footer" class="dark">
    <div id="copyrights">
      <div class="container clearfix" style="display: flex;align-items: center;">
        <div class="col_half">
          <!-- <img
            src="https://themes.semicolonweb.com/html/canvas/v5/images/footer-logo.png"
            alt=""
            class="footer-logo"
          /> -->
          Copyrights &copy; 2023 All Rights Reserved by LOGO.
        </div>
        <div class="col_half col_last tright">
          <div class="copyrights-menu copyright-links fright clearfix">
            <a href="/">Home</a>/<a href="/files">Files</a>/<a href="/about"
              >About</a
            >/<a href="/contact">Contact</a>/<a href="/login"
              >Login</a
            >
        </div>
        <br>
          <!-- <div class=" clearfix" style="margin:0 0 0 auto; display: block;">
            <a
              href="#"
              class="social-icon si-small si-borderless nobottommargin si-facebook"
            >
              <i class="icon-facebook"></i>
              <i class="icon-facebook"></i>
            </a>
            <a
              href="#"
              class="social-icon si-small si-borderless nobottommargin si-twitter"
            >
              <i class="icon-twitter"></i>
              <i class="icon-twitter"></i>
            </a>
        
         
            <a
              href="#"
              class="social-icon si-small si-borderless nobottommargin si-linkedin"
            >
              <i class="icon-linkedin"></i>
              <i class="icon-linkedin"></i>
            </a>
          </div> -->
        </div>
      </div>
    </div>
  </footer>